@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.font-proxima-soft {
    font-family: 'proxima-soft', sans-serif;
}

.bg-geo {
    /* background-image: url("http://localhost:3000/hero-geo.svg"); */
    position: absolute;
    width: 1920px;
    height: 580px;
    z-index: -1;
}

.innger-bg-geo {
    /* background-color: blue; */
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 0) 100%);
    object-fit: scale-down;
    width: 1920px;
    height: 1080px;
    position: absolute;
    z-index: 20;
}

.bg-geo-2 {
    /* background-image: url("http://localhost:3000/hero-geo.svg"); */
    position: absolute;
    width: 1920px;
    height: 580px;
    z-index: -1;
    /* top: -265px; */
    top: -350px;
}

.innger-bg-geo-2 {
    /* background-color: blue; */
    /* top: -50%; */
    top: 0;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 0) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.281) 0%, rgb(255, 255, 255) 100%);
    object-fit: scale-down;
    width: 1920px;
    height: 580px;
    position: absolute;
    z-index: 20;
}


#grid-card {
    direction: rtl;
}

/* code {
  counter-reset: line;
}

code>[data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
} */


pre::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    border-radius: 9999px;
}

pre::-webkit-scrollbar-thumb:hover {
    background-color: #818cf8;
}

pre::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

pre::-webkit-scrollbar-track {
    /* background-color: green; */
}

pre::-webkit-scrollbar-corner {
    /* background-color: green; */
}



pre {
    /* -ms-overflow-style: auto;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin; */
}
